@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Judson", serif;
}

:root {
  --color-primary: #222222;
  --color-gray-1: #202020;
  --color-gray-2: #5F5F5F;
  --border-input: #C5C5C5;
  --red: #E32005;
  --white: #FFFFFF;
  --black: #000000;
}

img {
  max-width: 100%;
  display: block;
}

body {
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}



.container {
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1280px;
  }
}

header {
  padding-bottom: 18px;
  padding-top: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo p {
  font-weight: 700;
  font-size: 30px;
}

.container-input-icons {
  display: flex;
  justify-content: space-between;
  gap: 21px;
}

.container-search-input {
  display: flex;
  align-items: center;
  position: relative;
}

.container-search-input input {
  width: 441px;
  height: 40px;
  border: 1px solid var(--border-input);
  padding-left: 44px;
}

.container-search-input img {
  position: absolute;
  left: 16px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-free {
  width: 100%;
  height: 34px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 12px;
}

.container-free p {
  color: var(--white);
  font-weight: 400;
  font-size: 13px;
}

.hero {
  background-image: url('../assets/young-friends-sitting-curb-city.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}

.container-title-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 347px;
}

.container-title-hero p {
  font-weight: 400;
  font-size: 19px;
  color: var(--white);
}

.container-title-hero h1 {
  width: 171px;
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}

.container-title-hero button {
  width: 171px;
  height: 41px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.best-picks {
  width: 100%;
  padding-top: 60px;
}

.container-best-picks h1 {
  font-size: 70px;
  font-weight: 400;
  color: var(--color-primary);
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding-top: 40px;
}


.container-text-card h3 {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-primary);
  margin-top: 20px;
}

.container-text-card p {
  color: var(--color-gray-2);
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
}

.container-stars-numbers {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.container-price {
  display: flex;
  align-items: center;
  gap: 4px;
}

.container-price .price-black {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 20px;
}

.container-price .price-gray {
  color: var(--color-gray-2);
  font-weight: 400;
  font-size: 14px;
}

.container-price .price-red {
  color: var(--red);
  font-weight: 400;
  font-size: 14px;
}

.container-view-collections {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  margin-top: 60px;
}

.container-view-collections p {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 400;
}

.design {
  padding-top: 100px;
}

.container-design {
  background-image: url('../assets/design.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
}

.container-design-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding-top: 113px;
}

.container-design-text p {
  font-size: 28px;
  color: var(--white);
  font-weight: 400;
}

.container-design-text h3 {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.container-design-text button {
  width: 265px;
  height: 41px;
  background-color: var(--white);
  color: var(--color-primary);
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.shop-items {
  padding-top: 100px;
}

.shop-items h1 {
  color: var(--color-primary);
  font-size: 70px;
  font-weight: 700;
}

.container-imgs-shop-items {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.imgs-shop-items {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%),
    url('../assets/t-shrit-mens-womens.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 360px;
  height: 425px;
  display: flex;
  align-items: flex-end;
  padding-left: 40px;
  padding-bottom: 40px;
}


.imgs-shop-items p {
  font-weight: 700;
  font-size: 40px;
  color: var(--white);
}

.summer {
  padding-top: 100px;
}

.container-summer {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%),
    url('../assets/summer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 614px;
  background-color: #D9D9D9;
}

.container-summer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 151px;
}

.container-summer-text p {
  font-size: 40px;
  color: var(--white);
  font-weight: 400;
}

.container-summer-text h3 {
  color: var(--white);
  font-size: 64px;
  font-weight: 700;
}


.container-summer-text button {
  width: 171px;
  height: 41px;
  background-color: var(--white);
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.summer-collections {
  padding-top: 100px;
}

.summer-collections h1 {
  font-size: 40px;
  font-weight: 400;
  color: var(--color-primary);
}


.container-summer-collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;
  padding-top: 40px;
}


.men-summer-collection {
  grid-column: 1;
  grid-row: 1;
}

.women-sport-collection {
  grid-column: 3;
  grid-row: 1;
}

.women-new-sport-collection {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.women-flexible-collection {
  grid-column: 1;
  grid-row: 2;
}

.men-casual-collection {
  grid-column: 3;
  grid-row: 2;
}

.men-summer-collection,
.women-sport-collection,
.women-new-sport-collection,
.women-flexible-collection,
.men-casual-collection {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 333px;
}

.women-new-sport-collection {
  height: 688px;
}


.men-summer-collection {
  background-image: url('../assets/men-summer.png');
}

.women-sport-collection {
  background-image: url('../assets/women-sport.png');
}

.women-new-sport-collection {
  background-image: url('../assets/women-new-sport.png');
}

.women-flexible-collection {
  background-image: url('../assets/women-flexible.png');
}

.men-casual-collection {
  background-image: url('../assets/men-casual.png');
}

.container-text-collection,
.container-text-new-collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
}

.container-text-collection {
  padding-top: 263px;
}

.container-text-new-collection {
  padding-top: 620px;
}

.container-text-collection p,
.container-text-new-collection p {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
}

.border {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--color-primary);
  width: 100%;
  height: auto;
  margin-top: 120px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
}

.container-title-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-title-footer h3 {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
}

.container-title-footer p {
  width: 206px;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}

.icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.container-customer-care p {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
}

.container-supplies p {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
}

.container-company {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
}

.container-about p {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
}

ul {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  gap: 16px;
  list-style: none;
}

ul a {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 1100px) {
  .container-summer-collections {
    grid-template-columns: repeat(2, 1fr);
  }

  .women-new-sport-collection {
    grid-row: auto;
    height: 500px;
  }
}


@media (max-width: 768px) {
  .container-summer-collections {
    grid-template-columns: 1fr;
  }

  .men-summer-collection,
  .women-sport-collection,
  .women-new-sport-collection,
  .women-flexible-collection,
  .men-casual-collection {
    grid-column: auto;
    grid-row: auto;
    height: 350px;
  }

  .women-new-sport-collection {
    height: 400px;
  }

  .container-text-collection {
    padding-top: 250px;
  }

  .container-text-new-collection {
    padding-top: 330px;
  }
}



@media (max-width: 768px) {
  .container-best-picks h1 {
    text-align: center;
  }

  .container-search-input {
    display: none;
  }

  .container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .container-imgs-shop-items {
    flex-direction: column;
    align-items: center;
  }

  .shop-items h1 {
    text-align: center;
  }

  .container-summer-collections {
    display: flex;
    flex-direction: column;
  }

  .container-footer {
    flex-direction: column;
    padding-top: 80px;
    gap: 12px;
  }
}