@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Judson", serif;
}

:root {
  --color-primary: #222222;
  --color-gray-1: #202020;
  --color-gray-2: #5F5F5F;
  --border-input: #C5C5C5;
  --red: #E32005;
  --white: #FFFFFF;
  --black: #000000;
}

img {
  max-width: 100%;
  display: block;
}

body {
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}



.container {
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1280px;
  }
}

header {
  padding-bottom: 18px;
  padding-top: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo p {
  font-weight: 700;
  font-size: 30px;
}

.container-input-icons {
  display: flex;
  justify-content: space-between;
  gap: 21px;
}

.container-search-input {
  display: flex;
  align-items: center;
  position: relative;
}

.container-search-input input {
  width: 441px;
  height: 40px;
  border: 1px solid var(--border-input);
  padding-left: 44px;
}

.container-search-input img {
  position: absolute;
  left: 16px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-free {
  width: 100%;
  height: 34px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 12px;
}

.container-free p {
  color: var(--white);
  font-weight: 400;
  font-size: 13px;
}

.hero {
  background-image: url('../assets/young-friends-sitting-curb-city.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}

.container-title-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 347px;
}

.container-title-hero p {
  font-weight: 400;
  font-size: 19px;
  color: var(--white);
}

.container-title-hero h1 {
  width: 171px;
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}

.container-title-hero button {
  width: 171px;
  height: 41px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.best-picks {
  width: 100%;
  padding-top: 60px;
}

.container-best-picks h1 {
  font-size: 70px;
  font-weight: 400;
  color: var(--color-primary);
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding-top: 40px;
}


.container-text-card h3 {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-primary);
  margin-top: 20px;
}

.container-text-card p {
  color: var(--color-gray-2);
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
}

.container-stars-numbers {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.container-price {
  display: flex;
  align-items: center;
  gap: 4px;
}

.container-price .price-black {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 20px;
}

.container-price .price-gray {
  color: var(--color-gray-2);
  font-weight: 400;
  font-size: 14px;
}

.container-price .price-red {
  color: var(--red);
  font-weight: 400;
  font-size: 14px;
}

.container-view-collections {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  margin-top: 60px;
}

.container-view-collections p {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 400;
}

.design {
  padding-top: 100px;
}

.container-design {
  background-image: url('../assets/design.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
}

.container-design-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding-top: 113px;
}

.container-design-text p {
  font-size: 28px;
  color: var(--white);
  font-weight: 400;
}

.container-design-text h3 {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.container-design-text button {
  width: 265px;
  height: 41px;
  background-color: var(--white);
  color: var(--color-primary);
  cursor: pointer;
  font-size: 20px;
  border: none;
}

@media (max-width: 768px) {
  .container-best-picks h1{
   text-align: center;
  }

  .container-search-input {
    display: none;
  }

  .container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}